body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-busqueda {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #a36697;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}

